@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Shane Demonstration. Shows how to stay logged in past browser close.</h1>
    <p class="lead">This is the application leverages the Okta MVC library.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
                Okta is a powerful tool that helps companies handle authentication
        </p>
        <p><a class="btn btn-default" href="https://www.okta.com">Learn more &raquo;</a></p>
    </div>
</div>